[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
usecase = { workspace = true }
axum = { workspace = true }
tokio = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tower-http = { version = "0.5", features = ["trace"] }
